In [1]:
import pandas as pd
df_08 = pd.read_csv('all_alpha_08.csv')
df_18 = pd.read_csv('all_alpha_18.csv')

In [3]:
df_08.head()

,Model,Displ,Cyl,Trans,Drive,Fuel,Sales Area,Stnd,Underhood ID,Veh Class,Air Pollution Score,FE Calc Appr,City MPG,Hwy MPG,Cmb MPG,Unadj Cmb MPG,Greenhouse Gas Score,SmartWay
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,U2,8HNXT03.7PKR,SUV,7,Drv,15,20,17,22.0527,4,no
1,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,FA,B5,8HNXT03.7PKR,SUV,6,Drv,15,20,17,22.0527,4,no
2,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,CA,U2,8HNXT02.3DKR,SUV,7,Drv,17,22,19,24.1745,5,no
3,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,FA,B5,8HNXT02.3DKR,SUV,6,Drv,17,22,19,24.1745,5,no
4,ACURA RL,3.5,(6 cyl),Auto-S5,4WD,Gasoline,CA,U2,8HNXV03.5HKR,midsize car,7,Drv,16,24,19,24.5629,5,no

In [4]:
df_08.shape

(2404, 18)

In [5]:
df_18.shape

(1611, 18)

In [6]:
sum(df_08.duplicated())

25

In [7]:
sum(df_18.duplicated())

0

In [8]:
df_08.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2404 entries, 0 to 2403
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Model                 2404 non-null   object
 1   Displ                 2404 non-null   float64
 2   Cyl                   2205 non-null   object
 3   Trans                 2205 non-null   object
 4   Drive                 2311 non-null   object
 5   Fuel                  2404 non-null   object
 6   Sales Area            2404 non-null   object
 7   Stnd                  2404 non-null   object
 8   Underhood ID          2404 non-null   object
 9   Veh Class             2404 non-null   object
 10  Air Pollution Score   2404 non-null   object
 11  FE Calc Appr          2205 non-null   object
 12  City MPG              2205 non-null   object
 13  Hwy MPG               2205 non-null   object
 14  Cmb MPG               2205 non-null   object
 15  Unadj Cmb MPG         2205 non-null   float64
 16  Greenhouse Gas Score  2205 non-null   object
 17  SmartWay              2404 non-null   object
dtypes: float64(2), object(16)
memory usage: 338.2+ KB

In [9]:
df_18.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1611 entries, 0 to 1610
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Model                 1611 non-null   object
 1   Displ                 1609 non-null   float64
 2   Cyl                   1609 non-null   float64
 3   Trans                 1611 non-null   object
 4   Drive                 1611 non-null   object
 5   Fuel                  1611 non-null   object
 6   Cert Region           1611 non-null   object
 7   Stnd                  1611 non-null   object
 8   Stnd Description      1611 non-null   object
 9   Underhood ID          1611 non-null   object
 10  Veh Class             1611 non-null   object
 11  Air Pollution Score   1611 non-null   int64
 12  City MPG              1611 non-null   object
 13  Hwy MPG               1611 non-null   object
 14  Cmb MPG               1611 non-null   object
 15  Greenhouse Gas Score  1611 non-null   int64
 16  SmartWay              1611 non-null   object
 17  Comb CO2              1611 non-null   object
dtypes: float64(2), int64(2), object(14)
memory usage: 226.7+ KB

In [11]:
df_08.isnull().any()

Model                   False
Displ                   False
Cyl                      True
Trans                    True
Drive                    True
Fuel                    False
Sales Area              False
Stnd                    False
Underhood ID            False
Veh Class               False
Air Pollution Score     False
FE Calc Appr             True
City MPG                 True
Hwy MPG                  True
Cmb MPG                  True
Unadj Cmb MPG            True
Greenhouse Gas Score     True
SmartWay                False
dtype: bool

In [23]:
df_08.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2404 entries, 0 to 2403
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Model                 2404 non-null   object
 1   Displ                 2404 non-null   float64
 2   Cyl                   2205 non-null   object
 3   Trans                 2205 non-null   object
 4   Drive                 2311 non-null   object
 5   Fuel                  2404 non-null   object
 6   Sales Area            2404 non-null   object
 7   Veh Class             2404 non-null   object
 8   Air Pollution Score   2404 non-null   object
 9   City MPG              2205 non-null   object
 10  Hwy MPG               2205 non-null   object
 11  Cmb MPG               2205 non-null   object
 12  Greenhouse Gas Score  2205 non-null   object
 13  SmartWay              2404 non-null   object
dtypes: float64(1), object(13)
memory usage: 263.1+ KB

In [24]:
df_18 = df_18.drop(['Stnd', 'Stnd Description', 'Underhood ID', 'Comb CO2'], axis=1)
df_18.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1611 entries, 0 to 1610
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Model                 1611 non-null   object
 1   Displ                 1609 non-null   float64
 2   Cyl                   1609 non-null   float64
 3   Trans                 1611 non-null   object
 4   Drive                 1611 non-null   object
 5   Fuel                  1611 non-null   object
 6   Cert Region           1611 non-null   object
 7   Veh Class             1611 non-null   object
 8   Air Pollution Score   1611 non-null   int64
 9   City MPG              1611 non-null   object
 10  Hwy MPG               1611 non-null   object
 11  Cmb MPG               1611 non-null   object
 12  Greenhouse Gas Score  1611 non-null   int64
 13  SmartWay              1611 non-null   object
dtypes: float64(2), int64(2), object(10)
memory usage: 176.3+ KB

In [25]:
df_08.rename(columns={'Sales Area':'Cert Region'}, inplace=True)
df_08.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2404 entries, 0 to 2403
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Model                 2404 non-null   object
 1   Displ                 2404 non-null   float64
 2   Cyl                   2205 non-null   object
 3   Trans                 2205 non-null   object
 4   Drive                 2311 non-null   object
 5   Fuel                  2404 non-null   object
 6   Cert Region           2404 non-null   object
 7   Veh Class             2404 non-null   object
 8   Air Pollution Score   2404 non-null   object
 9   City MPG              2205 non-null   object
 10  Hwy MPG               2205 non-null   object
 11  Cmb MPG               2205 non-null   object
 12  Greenhouse Gas Score  2205 non-null   object
 13  SmartWay              2404 non-null   object
dtypes: float64(1), object(13)
memory usage: 263.1+ KB

In [26]:
df_08.rename(columns=lambda x : x.strip().lower().replace(' ', '_'), inplace=True)
df_08.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2404 entries, 0 to 2403
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   model                 2404 non-null   object
 1   displ                 2404 non-null   float64
 2   cyl                   2205 non-null   object
 3   trans                 2205 non-null   object
 4   drive                 2311 non-null   object
 5   fuel                  2404 non-null   object
 6   cert_region           2404 non-null   object
 7   veh_class             2404 non-null   object
 8   air_pollution_score   2404 non-null   object
 9   city_mpg              2205 non-null   object
 10  hwy_mpg               2205 non-null   object
 11  cmb_mpg               2205 non-null   object
 12  greenhouse_gas_score  2205 non-null   object
 13  smartway              2404 non-null   object
dtypes: float64(1), object(13)
memory usage: 263.1+ KB

In [27]:
df_18.rename(columns=lambda x : x.strip().lower().replace(' ', '_'), inplace=True)
df_18.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1611 entries, 0 to 1610
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   model                 1611 non-null   object
 1   displ                 1609 non-null   float64
 2   cyl                   1609 non-null   float64
 3   trans                 1611 non-null   object
 4   drive                 1611 non-null   object
 5   fuel                  1611 non-null   object
 6   cert_region           1611 non-null   object
 7   veh_class             1611 non-null   object
 8   air_pollution_score   1611 non-null   int64
 9   city_mpg              1611 non-null   object
 10  hwy_mpg               1611 non-null   object
 11  cmb_mpg               1611 non-null   object
 12  greenhouse_gas_score  1611 non-null   int64
 13  smartway              1611 non-null   object
dtypes: float64(2), int64(2), object(10)
memory usage: 176.3+ KB

In [29]:
df_08.columns == df_18.columns

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True])

In [30]:
df_08.to_csv('data_08.csv', index=False)
df_18.to_csv('data_18.csv', index=False)

In [32]:
df_08.head()

,model,displ,cyl,trans,drive,fuel,cert_region,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,15,20,17,4,no
1,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,FA,SUV,6,15,20,17,4,no
2,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,17,22,19,5,no
3,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,FA,SUV,6,17,22,19,5,no
4,ACURA RL,3.5,(6 cyl),Auto-S5,4WD,Gasoline,CA,midsize car,7,16,24,19,5,no

In [35]:
df_08 = df_08.query('cert_region == "CA"')
df_08['cert_region'].unique()

array(['CA'], dtype=object)

In [36]:
df_18 = df_18.query('cert_region == "CA"')
df_18['cert_region'].unique()

array(['CA'], dtype=object)

In [38]:
df_08.drop(['cert_region'], axis=1, inplace=True)
df_08.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1084 entries, 0 to 2400
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   model                 1084 non-null   object
 1   displ                 1084 non-null   float64
 2   cyl                   1009 non-null   object
 3   trans                 1009 non-null   object
 4   drive                 1047 non-null   object
 5   fuel                  1084 non-null   object
 6   veh_class             1084 non-null   object
 7   air_pollution_score   1084 non-null   object
 8   city_mpg              1009 non-null   object
 9   hwy_mpg               1009 non-null   object
 10  cmb_mpg               1009 non-null   object
 11  greenhouse_gas_score  1009 non-null   object
 12  smartway              1084 non-null   object
dtypes: float64(1), object(12)
memory usage: 118.6+ KB

In [39]:
df_18.drop(['cert_region'], axis=1, inplace=True)
df_18.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 798 entries, 1 to 1609
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   model                 798 non-null    object
 1   displ                 797 non-null    float64
 2   cyl                   797 non-null    float64
 3   trans                 798 non-null    object
 4   drive                 798 non-null    object
 5   fuel                  798 non-null    object
 6   veh_class             798 non-null    object
 7   air_pollution_score   798 non-null    int64
 8   city_mpg              798 non-null    object
 9   hwy_mpg               798 non-null    object
 10  cmb_mpg               798 non-null    object
 11  greenhouse_gas_score  798 non-null    int64
 12  smartway              798 non-null    object
dtypes: float64(2), int64(2), object(9)
memory usage: 87.3+ KB

In [40]:
df_08.isnull().sum()

model                    0
displ                    0
cyl                     75
trans                   75
drive                   37
fuel                     0
veh_class                0
air_pollution_score      0
city_mpg                75
hwy_mpg                 75
cmb_mpg                 75
greenhouse_gas_score    75
smartway                 0
dtype: int64

In [41]:
df_08.dropna(inplace=True)
df_08.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1009 entries, 0 to 2400
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   model                 1009 non-null   object
 1   displ                 1009 non-null   float64
 2   cyl                   1009 non-null   object
 3   trans                 1009 non-null   object
 4   drive                 1009 non-null   object
 5   fuel                  1009 non-null   object
 6   veh_class             1009 non-null   object
 7   air_pollution_score   1009 non-null   object
 8   city_mpg              1009 non-null   object
 9   hwy_mpg               1009 non-null   object
 10  cmb_mpg               1009 non-null   object
 11  greenhouse_gas_score  1009 non-null   object
 12  smartway              1009 non-null   object
dtypes: float64(1), object(12)
memory usage: 110.4+ KB

In [42]:
df_18.dropna(inplace=True)
df_18.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 797 entries, 1 to 1609
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   model                 797 non-null    object
 1   displ                 797 non-null    float64
 2   cyl                   797 non-null    float64
 3   trans                 797 non-null    object
 4   drive                 797 non-null    object
 5   fuel                  797 non-null    object
 6   veh_class             797 non-null    object
 7   air_pollution_score   797 non-null    int64
 8   city_mpg              797 non-null    object
 9   hwy_mpg               797 non-null    object
 10  cmb_mpg               797 non-null    object
 11  greenhouse_gas_score  797 non-null    int64
 12  smartway              797 non-null    object
dtypes: float64(2), int64(2), object(9)
memory usage: 87.2+ KB

In [45]:
df_08.duplicated().sum(), df_18.duplicated().sum()

(23, 3)

In [46]:
df_08.drop_duplicates(inplace=True)
df_08.duplicated().sum()

0

In [47]:
df_18.drop_duplicates(inplace=True)
df_18.duplicated().sum()

0

In [49]:
df_08.to_csv('data_08_v2.csv', index=False)
df_18.to_csv('data_18_v2.csv', index=False)

In [55]:
df_08 = pd.read_csv('data_08_v2.csv')
df_08['cyl']

0      (6 cyl)
1      (4 cyl)
2      (6 cyl)
3      (6 cyl)
4      (6 cyl)
        ...
981    (6 cyl)
982    (6 cyl)
983    (6 cyl)
984    (6 cyl)
985    (8 cyl)
Name: cyl, Length: 986, dtype: object

In [56]:
df_08['cyl'] = df_08['cyl'].str.extract('(\d+)').astype(int)
df_08['cyl']

0      6
1      4
2      6
3      6
4      6
      ..
981    6
982    6
983    6
984    6
985    8
Name: cyl, Length: 986, dtype: int32

In [58]:
df_18['cyl'] = df_18['cyl'].astype(int)
df_18['cyl']

1       6
3       6
4       4
6       6
8       6
       ..
1601    4
1603    4
1605    4
1607    4
1609    4
Name: cyl, Length: 794, dtype: int32

In [59]:
df_08.to_csv('data_08_v2.csv', index=False)
df_18.to_csv('data_18_v2.csv', index=False)

In [68]:
df_08['fuel'].unique()

array(['Gasoline', 'CNG', 'ethanol/gas'], dtype=object)

In [70]:
df_08.query('fuel == "ethanol/gas"')

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
582,MERCEDES-BENZ C300,3.0,6,Auto-L7,2WD,ethanol/gas,small car,6/4,13/18,19/25,15/21,7/6,no

In [71]:
df_18['fuel'].unique()

array(['Gasoline', 'Gasoline/Electricity', 'Diesel', 'Ethanol/Gas'],
      dtype=object)

In [74]:
df_18.query('fuel in ["Ethanol/Gas", "Gasoline/Electricity"]').shape

(38, 13)

In [75]:
hb_08 = df_08.query('fuel == "ethanol/gas"')

In [78]:
df1 = hb_08.copy()
df2 = hb_08.copy()
df1

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
582,MERCEDES-BENZ C300,3.0,6,Auto-L7,2WD,ethanol/gas,small car,6/4,13/18,19/25,15/21,7/6,no

In [79]:
split_columns = ['fuel', 'air_pollution_score', 'city_mpg', 'hwy_mpg', 'cmb_mpg', 'greenhouse_gas_score']
for c in split_columns:
    df1[c] = df1[c].apply(lambda x : x.split('/')[0])
    df2[c] = df2[c].apply(lambda x : x.split('/')[1])
df1

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
582,MERCEDES-BENZ C300,3.0,6,Auto-L7,2WD,ethanol,small car,6,13,19,15,7,no

In [80]:
df2

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
582,MERCEDES-BENZ C300,3.0,6,Auto-L7,2WD,gas,small car,4,18,25,21,6,no

In [81]:
new_rows = df1.append(df2)
new_rows

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
582,MERCEDES-BENZ C300,3.0,6,Auto-L7,2WD,ethanol,small car,6,13,19,15,7,no
582,MERCEDES-BENZ C300,3.0,6,Auto-L7,2WD,gas,small car,4,18,25,21,6,no

In [82]:
hb_08.index

Int64Index([582], dtype='int64')

In [83]:
df_08.drop(hb_08.index, inplace=True)
df_08 = df_08.append(new_rows, ignore_index=True)
df_08[df_08['fuel'].str.contains('/')]

Empty DataFrame
Columns: [model, displ, cyl, trans, drive, fuel, veh_class, air_pollution_score, city_mpg, hwy_mpg, cmb_mpg, greenhouse_gas_score, smartway]
Index: []