In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
df_08 = pd.read_csv('data_08_v2.csv')
df_18 = pd.read_csv('data_18_v2.csv')

In [2]:
df_08.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 987 entries, 0 to 986
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0            987 non-null    int64
 1   model                 987 non-null    object
 2   displ                 987 non-null    float64
 3   cyl                   987 non-null    int64
 4   trans                 987 non-null    object
 5   drive                 987 non-null    object
 6   fuel                  987 non-null    object
 7   veh_class             987 non-null    object
 8   air_pollution_score   987 non-null    float64
 9   city_mpg              987 non-null    float64
 10  hwy_mpg               987 non-null    float64
 11  cmb_mpg               987 non-null    float64
 12  greenhouse_gas_score  987 non-null    int64
 13  smartway              987 non-null    object
dtypes: float64(5), int64(3), object(6)
memory usage: 108.1+ KB

In [3]:
df_18.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 832 entries, 0 to 831
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0            832 non-null    int64
 1   model                 832 non-null    object
 2   displ                 832 non-null    float64
 3   cyl                   832 non-null    int64
 4   trans                 832 non-null    object
 5   drive                 832 non-null    object
 6   fuel                  832 non-null    object
 7   veh_class             832 non-null    object
 8   air_pollution_score   832 non-null    float64
 9   city_mpg              832 non-null    float64
 10  hwy_mpg               832 non-null    float64
 11  cmb_mpg               832 non-null    float64
 12  greenhouse_gas_score  832 non-null    int64
 13  smartway              832 non-null    object
dtypes: float64(5), int64(3), object(6)
memory usage: 91.1+ KB

In [4]:
df_08 = df_08.rename(columns=lambda x : x[:10] + "_2008")
df_08.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 987 entries, 0 to 986
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0_2008  987 non-null    int64
 1   model_2008       987 non-null    object
 2   displ_2008       987 non-null    float64
 3   cyl_2008         987 non-null    int64
 4   trans_2008       987 non-null    object
 5   drive_2008       987 non-null    object
 6   fuel_2008        987 non-null    object
 7   veh_class_2008   987 non-null    object
 8   air_pollut_2008  987 non-null    float64
 9   city_mpg_2008    987 non-null    float64
 10  hwy_mpg_2008     987 non-null    float64
 11  cmb_mpg_2008     987 non-null    float64
 12  greenhouse_2008  987 non-null    int64
 13  smartway_2008    987 non-null    object
dtypes: float64(5), int64(3), object(6)
memory usage: 108.1+ KB

In [5]:
df = df_08.merge(df_18, left_on = 'model_2008', right_on = 'model', how = 'inner')
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 922 entries, 0 to 921
Data columns (total 28 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0_2008       922 non-null    int64
 1   model_2008            922 non-null    object
 2   displ_2008            922 non-null    float64
 3   cyl_2008              922 non-null    int64
 4   trans_2008            922 non-null    object
 5   drive_2008            922 non-null    object
 6   fuel_2008             922 non-null    object
 7   veh_class_2008        922 non-null    object
 8   air_pollut_2008       922 non-null    float64
 9   city_mpg_2008         922 non-null    float64
 10  hwy_mpg_2008          922 non-null    float64
 11  cmb_mpg_2008          922 non-null    float64
 12  greenhouse_2008       922 non-null    int64
 13  smartway_2008         922 non-null    object
 14  Unnamed: 0            922 non-null    int64
 15  model                 922 non-null    object
 16  displ                 922 non-null    float64
 17  cyl                   922 non-null    int64
 18  trans                 922 non-null    object
 19  drive                 922 non-null    object
 20  fuel                  922 non-null    object
 21  veh_class             922 non-null    object
 22  air_pollution_score   922 non-null    float64
 23  city_mpg              922 non-null    float64
 24  hwy_mpg               922 non-null    float64
 25  cmb_mpg               922 non-null    float64
 26  greenhouse_gas_score  922 non-null    int64
 27  smartway              922 non-null    object
dtypes: float64(10), int64(6), object(12)
memory usage: 208.9+ KB

In [8]:
df = df.drop(columns='Unnamed: 0_2008')
df = df.drop(columns='Unnamed: 0')
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 922 entries, 0 to 921
Data columns (total 26 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   model_2008            922 non-null    object
 1   displ_2008            922 non-null    float64
 2   cyl_2008              922 non-null    int64
 3   trans_2008            922 non-null    object
 4   drive_2008            922 non-null    object
 5   fuel_2008             922 non-null    object
 6   veh_class_2008        922 non-null    object
 7   air_pollut_2008       922 non-null    float64
 8   city_mpg_2008         922 non-null    float64
 9   hwy_mpg_2008          922 non-null    float64
 10  cmb_mpg_2008          922 non-null    float64
 11  greenhouse_2008       922 non-null    int64
 12  smartway_2008         922 non-null    object
 13  model                 922 non-null    object
 14  displ                 922 non-null    float64
 15  cyl                   922 non-null    int64
 16  trans                 922 non-null    object
 17  drive                 922 non-null    object
 18  fuel                  922 non-null    object
 19  veh_class             922 non-null    object
 20  air_pollution_score   922 non-null    float64
 21  city_mpg              922 non-null    float64
 22  hwy_mpg               922 non-null    float64
 23  cmb_mpg               922 non-null    float64
 24  greenhouse_gas_score  922 non-null    int64
 25  smartway              922 non-null    object
dtypes: float64(10), int64(4), object(12)
memory usage: 234.5+ KB

In [10]:
df.to_csv('merge_data.csv')

In [11]:
model_mpg = df.groupby('model')['cmb_mpg_2008', 'cmb_mpg'].mean()
model_mpg.head()

E:\Anaconda3\envs\py3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

           cmb_mpg_2008    cmb_mpg
model
ACURA RDX     19.000000  22.500000
AUDI A3       23.333333  28.000000
AUDI A4       21.000000  27.000000
AUDI A6       19.666667  25.666667
AUDI A8 L     16.500000  22.000000

In [12]:
model_mpg['mpg_change'] = model_mpg['cmb_mpg'] - model_mpg['cmb_mpg_2008']
model_mpg.head()

           cmb_mpg_2008    cmb_mpg  mpg_change
model
ACURA RDX     19.000000  22.500000    3.500000
AUDI A3       23.333333  28.000000    4.666667
AUDI A4       21.000000  27.000000    6.000000
AUDI A6       19.666667  25.666667    6.000000
AUDI A8 L     16.500000  22.000000    5.500000

In [13]:
model_mpg[model_mpg['mpg_change'] == model_mpg['mpg_change'].max()]

             cmb_mpg_2008  cmb_mpg  mpg_change
model
VOLVO XC 90     15.666667     32.2   16.533333

In [14]:
idx = model_mpg.mpg_change.idxmax()
idx

'VOLVO XC 90'

In [15]:
model_mpg.loc[idx]

cmb_mpg_2008    15.666667
cmb_mpg         32.200000
mpg_change      16.533333
Name: VOLVO XC 90, dtype: float64